/*resets*/

html, body, h1, h2, h3{
	margin:0;
	padding: 0;
}

body {
	color: #000000;
}

h2{
	text-align: center;
	font-family: helvetica;
	margin-top: 120px;
}

h3{
	text-align: center;
	font-weight: normal;
}

.uebergruppe{
	width: 900px;
	margin: 0px auto 0px auto; 
}

.box1 {
	width: 300px;
	height: 200px;
	background: #FFFFFF;
	float: left;
	font-weight: bold;

	
}

.box2 {
	width: 300px;
	height: 200px;
	background: #FFFFFF;
	float: left;
	
}



}


.clear {
	clear: both;
}



.weissraumOben2{
	margin-top: 100px;
}

/*animations*/

	